<div id="<%= dom_id anwesenheitsliste %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Veranstaltung:</strong>
    <%= anwesenheitsliste.veranstaltung_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Datum:</strong>
    <%= anwesenheitsliste.datum %>
  </p>

</div>
