<div id="<%= dom_id modul %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= modul.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beschreibung:</strong>
    <%= modul.beschreibung %>
  </p>

</div>
