<div id="<%= dom_id veranstaltung %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= veranstaltung.name %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Beschreibung:</strong>
    <%= veranstaltung.beschreibung %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Modul:</strong>
    <%= veranstaltung.modul_id %>
  </p>

</div>
