<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Veranstaltung bearbeiten</h1>

  <%= render "form", veranstaltung: @veranstaltung %>

  <%= link_to "Veranstaltung anzeigen", @veranstaltung, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Zurück zu den Veranstaltungen", veranstaltungs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
